
@font-face {
  font-family: 'karnakpro-condensed';
  src: url('karnakpro-condensedblack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

header{
  width: 100%;
  border-bottom: 1px solid lightgray;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

h1{
  font-family: 'karnakpro-condensed', serif;
  font-size: 40px;
  font-weight: normal;
  transform: scale(1,.8);
  margin: 0;
}

header span{
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
}

.Board{
  display: grid;
  /* grid-template-columns: repeat(5, 55px); */
  grid-template-rows: repeat(6, 60px);
  gap: 5px;
}

.board-row{
  display: grid;
  grid-template-columns: repeat(5, 55px);
  gap: 5px;
}

.inputs{
  border: 1px solid lightgray;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
}

.filled{
  border: 2px solid darkgray;
  animation: fill .1s;
}

.Keyboard{
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.key-rows{
  display: flex;
  gap: 5px;
}

.keys{
  background-color: lightgrey;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  min-width: 10px;
  padding: 20px 15px;
  border-radius: 3px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}


.gray{
  background-color: #787c7e;
    border-color: #787c7e;
    color: white;
}

.yellow{
  background-color: #c8b458;
    border-color: #c8b458;
    color: white;
}

.green{
  background-color: #6baa64;
    border-color: #6baa64;
    color: white;
}

.message{
  background-color: black;
  color: white;
  padding: 15px;
  min-height: 20px;
  border-radius: 3px;
  font-weight: bold;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.show{
  opacity: 100;
}

.board-row.shake{
  animation: shake .3s;
}

.popup-container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.527);
  z-index: 1;
}

.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  width: 500px;
  max-width: 90vw;
  height: 500px;
  max-height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup h3{
  text-transform: uppercase;
}

.statSummary{
  display: flex;
  gap: 10px;
}

.statBox{
  max-width: 50px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.statValue{
  font-size: 30px;
  font-weight: bold;
}

.statLabel{
  font-size: 12px;
}

@keyframes shake {
  0% {transform: translate(0, 0);}
  20% {transform: translate(-4px, 0);}
  40% {transform: translate(4px, 0);}
  60% {transform: translate(-4px, 0);}
  80% {transform: translate(4px, 0);}
  100% {transform: translate(0, 0);}
}

@keyframes fill {
  0% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

@media (max-width: 767px) {
  .keys{
    padding: 15px 10px;
  }
}